@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  font-family: "Chivo Mono", monospace;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  color: #f5f4f1;
  background-color: #1D1C1B;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


p {
  font-size: 14px;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #f5f4f1 !important;
  }
a:hover {
  background-color: rgba(255, 213, 0, 1);
  color: rgba(0,0,0,0.8) !important;
}
.container {
  max-width: 700px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  padding: 0 10px;
}
h1, h2 {
  font-size: 14px;
  line-height: 20px;
  padding: 16px 0 0 0;
  font-weight: 700;
}
ul li {
  margin-left: 16px;
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.json-container::before {
  content: '{';
  color: #f5f4f1;
}
.json-container::after {
  content: '}';
  color: #f5f4f1;
}
.json-entry::before {
  content: ' ';
}

#terminalEditor {
  font-size: 14px;
  height: 400px;
  width: 700px;
  max-width: 700px;
  overflow: auto;
}

@media (max-width: 768px) {
  body {
    justify-content: start;
    min-height: 80vh;
  }
  .container {
    height: 300px;
    margin: 100px 130px 0 10px;
    padding: 0 30px;
    margin-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .container {
    height: 200px;
    justify-content: start;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
